/*
Colors used:
Primary Color (Green): #2443C;
Secondary Color (Red): #560A0A;
Tertiary Color (Pink): #f0e5e5
*/

body

{
    background-color: #F0E5E5;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #24443C;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }


  img {
  width: 100%;
}

a {
  color: #24443C;
  text-decoration: none;
}

a:visited {
  color: #F0E5E5;
}

a:hover,
a:focus {
  color: #F0E5E5;
  text-decoration: underline;
}

a:active {
  color: #560A0A;
}

.button {
  display: inline-block;
  background-color: #24443C;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  border-bottom: 0px transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #24443C;
  border: 2px solid #24443C;
}

.button.contact:hover {
  background-color: #24443C;
  color: #ffffff;
}

header {
  background-color: #F0E5E5;
}
